@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/Inside.cshtml";
}




<div class="main-content">
    <h1 class="welcome-title">Інформація про Корисутвача</h1>
    <style>
        .info {
            margin-top: 20px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
        }
        .info p {
            margin-bottom: 10px;
            font-size: 18px;
        }
    </style>
    <div class="info">
        <p><strong>Логін:</strong> @ViewBag.Login</p>
        <p><strong>Імя:</strong> @ViewBag.userInformation.UserName</p>
        <p><strong>Email:</strong> @ViewBag.userInformation.Email</p>
        <p><strong>Телефон:</strong> @ViewBag.userInformation.PhoneNumber</p>
        <p><strong>Адресса:</strong> @ViewBag.userInformation.Address</p>
    </div>  
    <div class="input-group">
        <a href="/Transactions/Holl" class="btn btn-primary">Повернутися на головну</a>
    </div>

</div>